[submodule "source/kernel/lib/Catch2"]
	path = source/kernel/lib/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "source/kernel/lib/eigen"]
	path = source/kernel/lib/eigen
	url = https://github.com/libigl/eigen.git
