[submodule "third_party/faiss"]
	path = third_party/faiss
	url = https://github.com/facebookresearch/faiss.git
[submodule "source/kernel/lib/Catch2"]
	path = source/kernel/lib/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "source/kernel/lib/eigen"]
	path = source/kernel/lib/eigen
	url = https://github.com/libigl/eigen.git
